/* ResultDisplay.css */
.result-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color:black;
  }
  
  h2 {
    color: #333;
  }
  
  h3 {
    color: #444;
    margin-bottom: 10px;
  }
  
  .result-table {
    margin-top: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  p {
    margin-top: 15px;
    font-weight: bold;
    color: #2ecc71;
  }
  